:root {
  --green: #16db93;
  --green-dark: #13bc7e;
  --light-grey: #f1f4f6;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

header {
  background-color: #16DB93;
  height: 100vh;

}

li {
  list-style: none;
}

.content .left-text,
.right-text h4,
a {
  color: white;
  font-size: 1.2rem;
}

.btn {
  border: 2px solid #fff;
  border-radius: 1.5rem;
  padding: 0.6rem 0;
  width: 160px;
  outline: none;
}

.sec-3 {
  background-color: #16DB93;
}

#sec-6 {
  background: linear-gradient(rgba(22, 219, 147, 0.9), rgba(22, 219, 147, 0.9)),
    url(images/section-6-bg.jpg) center/cover no-repeat;
}

/* section 7 */
.pricing-item {
  border-radius: 0.3rem;
  overflow: hidden;
  max-width: 340px;
}

.pricing-title {
  background-color: var(--green-dark);
}

.pricing-price,
.pricing-item ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.9rem 0;
}

.pricing-item .btn:hover {
  background: transparent !important;
  color: #fff;
}



footer,
.bg-green {
  background-color: #23c88c;
}